{% extends "admin/base_site.html" %}
{% load i18n admin_modify nudge_admin_helpers version_display %}
{% load url from future %}

{% block extrahead %}{{ block.super }}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript"
            src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
    {{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css"
          href="{{ STATIC_URL }}admin/css/forms.css"/>{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM
{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }}
    change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
    <div class="breadcrumbs">
        <a href="../../../">{% trans "Home" %}</a> &rsaquo;
        <a href="../../">Nudge</a> &rsaquo;
        <a href="../">Batch</a> &rsaquo; Push

    </div>
{% endif %}{% endblock %}

{% block content %}
    <div id="content-main">
    {% block object-tools %}
        {% if change %}{% if not is_popup %}
            <ul class="object-tools">
                {% block object-tools-items %}
                    <li><a href="history/"
                           class="historylink">{% trans "History" %}</a></li>
                    {% if has_absolute_url %}
                        <li>
                        <a href="../../../r/{{ content_type_id }}/{{ object_id }}/"
                           class="viewsitelink">{% trans "View on site" %}</a>
                        </li>{% endif %}
                {% endblock %}
            </ul>
        {% endif %}{% endif %}



        <h1>Batch Contents</h1>

        {% if batch_push_items %}
            {% regroup batch_push_items by version.content_type as ct_list %}

            {% for ct in ct_list %}

                <h3>{{ ct.grouper.name }} ({{ ct.grouper.app_label }})</h3>
                <table id="changes">
                    <tr>
                        <th>Item Name</th>
                        <th>Revision Type</th>
                        <th>Date</th>
                        <th>status</th>
                    </tr>
                    {% for batch_item in ct.list %}

                        {% include "admin/nudge/batch/_batch_item_row.html" %}

                    {% endfor %}
                </table>
            {% endfor %}
            <div id="push-buttons">
                <form method='POST'>

                    <input type="submit" value="Push Now" name="push_now"/>
                    {% csrf_token %}
                </form>
            </div>
        {% else %}

            <p>No changes in this batch!</p>

        {% endif %}
    {% endblock %}




    </div>
    </form></div>

    <script>
    </script>


{% endblock %}
