{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia nudge_admin_helpers version_display %}
{% load url from future %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}

{% if editable %}

<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}

{% block after_field_sets %}{% endblock %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% block after_related_objects %}{% endblock %}


{% if versions_selected %}
<h2>Changes attached to this batch</h2>
<table>
	<tr><td>version</td><td>Remove?</td></tr>
{% for version in versions_selected %}
<tr> <td>[{{version.content_type.name}}] {{version.object_repr}} ({{version.type|change_type}})</td><td> <input type="checkbox" name="remove_change_from_batch" value="{{version.id}}" /> </td> </li>


{% endfor %}
</table>
{% endif %}


{% if available_changes %}
<h2> Available Changes</h2>
	
{% regroup available_changes by content_type as typed_changes_list %}
	
<table>
	<tr>
		{% for type in typed_changes_list %}
			<th>	{{type.grouper.name|capfirst}} </th>
		{% endfor %}
	
	</tr>
<tr>
	{% for type in typed_changes_list %}

	<td>
		<a class='selectall' href="#">select all</a> 
		 <ul>{% for version in type.list %}

		<li><input type="checkbox" name="changes_in_batch" value="{{version.id}}" class="{{type.grouper.name}}_version"/>  {{version.object_repr}} ({{version.type|change_type}})</li>

{% endfor %} </ul>

 </td>



{% endfor %}
</tr>
</table>
{% endif %}
{% submit_batch_row %}
{% for history_item in history %}

{{ history.item }}

{% endfor %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>

<script>
django.jQuery(function(){
	django.jQuery('a.selectall').click(function(){
		this_link=django.jQuery(this);
		parent=this_link.parent();
		checkboxes=django.jQuery('input', parent).attr('checked','checked');
	})
	
})

</script>
{% else %}
{% include "admin/nudge/batch/read_only.html" %}

{% endif %}

{% endblock %}
